.ingredients-list-title {
    font-size: 2rem;
    text-decoration: underline;
}

.ingredients-head {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
}

.product {
    color: grey;
    font-size: 2rem;
    cursor: pointer;
}

.product:hover {
    color: black;
}

Tooltip {
}
