.recipe-list {
    width: 400px;
    color: white;
    background-color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.recipe-list-block {
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    background-color: orange;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.recipe-list-item {
    background-color: lightcyan;
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration-line: underline;
    cursor: pointer;
    border: none;
    align-items: center;
    
}

.recipe-list-item:hover {
    background-color: lightskyblue; 
}


