.App {
  text-align: center;
}

.App-logo {
    height: 4vmin;
    display: inline-block;
    position: relative;
    
    bottom: 50%;
  /* pointer-events: none; */
}

.App-logo:hover {
  animation: App-logo-spin infinite 2s linear;

}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
    color: orange;
    padding-left: 2vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-title {
    text-transform: capitalize;
}

.new-recipe-title {
    background-color: orange;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.new-recipe {
    background: cornsilk;
    width: 30%;
    overflow: visible;
    border-radius: 10px;
}

